/* reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 80px; /* offset the navbar */
}

h1, p {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    font-size: 2.8em;
    line-height: 1.2em;
    padding: 0 10%;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.9em;
    margin-top: 100px;
    text-align: center;
}

.gallery-section {
    padding: 10px 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #5f98d7;
    color: white;
    text-align: center;
    padding: 20px 0;
	margin-top: auto;
	width: 100%;
}

footer a {
    color: #20c997;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
}

/* Navbar styles */
.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #EDEDED;
    z-index: 100;
}

.main-navbar .logo {
    font-size: 1.4em;
    font-weight: 800;
    color: #333;
}

.main-navbar .nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.main-navbar .nav-links a:hover {
    color: #007bff;
}

/* Responsive styles */
@media (max-width: 600px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}
